version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: filety_postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  adminer:
    image: adminer
    container_name: filety_admin
    restart: always
    ports:
      - "8080:8000"
    depends_on:
      - postgres
      
volumes:
  postgres_data: