@import "tailwindcss";

@source "../**/*.{ts,tsx,js,jsx,html}";
@theme {
  --color-jopa: #3b82f6;
  --color-jopa-700: #1d4ed8;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}